# 🔹 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 🔹 Виртуальная среда
.venv/
env/
venv/

# 🔹 IDE: PyCharm
.idea/

# 🔹 Файлы журналов и временные
*.log
*.tmp

# 🔹 Сборка и дистрибутивы
build/
dist/
*.egg-info/

# 🔹 ОС
.DS_Store
Thumbs.db

# 🔹 Базы данных (если локальные)
*.sqlite3
*.db

# 🔹 Секреты (если ты создашь .env)
.env
